

<section id="games">
    
    <section class="top">
        <h1 class="heading">Currently Trending Games</h1>

        <button class="btn">Sell All</button>
    </section>

    <section class="cards">
        <article class="card">
            <img class="card-img" src="../assets/dead-by-daylight.png" />

            <div class="bottom">
                <i class="fa-solid fa-fire"></i>
                <span>22 Followers</span>
            </div>
        </article>

        <article class="card">
            <img class="card-img" src="../assets/hogwarts.png" />

            <div class="bottom">
                <i class="fa-solid fa-fire"></i>
                <span>18 Followers</span>
            </div>
        </article>

        <article class="card">
            <img class="card-img" src="../assets/hades.png" />

            <div class="bottom">
                <i class="fa-solid fa-fire"></i>
                <span>32 Followers</span>
            </div>
        </article>

        <article class="card">
            <img class="card-img" src="../assets/grand-theft-auto.png" />

            <div class="bottom">
                <i class="fa-solid fa-fire"></i>
                <span>40 Followers</span>
            </div>
        </article>
    </section>

</section>