<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <a id="logo" href="/">{{site.title}}</a>
        <ul id="menu">
            <li class="item">Home</li>
            <li class="item">About</li>
            <li class="item">Portfolio</li>
            <li class="item">News</li>
            <li id="special-contact" class="item">Contact us</li>
        </ul>
    </nav>
</body>
</html>