<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

    <link rel="icon" type="image/x-icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_PhK_mXgh_otNJAz1oapxsSUxEiiu84T9XtZbIG4WIg&s" />
</head>

<body>
    {% include _navbar.html %}

    {% include _header.html %}

</body>

</html>